form {
    border: 1px solid #060b26;
    margin: 20px;
}

label {
    padding: 5px;
    display: inline-block;
    font-size: 1.2em;
    width: 200px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="password"] {
    font-size: 1.2em;
    margin: 5px;
}

.btnGuardar {
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    background-color: #FFF;
    color: #060b26;
    border: 1px solid #060b26;
}

.btnGuardar:hover {
    background-color: #060b26;
    color: #FFF;
    border: 1px solid #FFF;
}

@media screen and (max-width: 1000px) {
    form {
        text-align: center;
    }
}